<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="row">
  <div class="col-md-5">
    <div class="box">
      <h1> hola </h1>
    </div>
  </div>

<div class="col-md-5">
    <div class="circle">
      <h1> hola </h1>
    </div>
</div>

</div>
